.modalBackdrop {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  position: relative;
  background-color: black;
  width: 75vh;
  height: 75vh;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modalContent > img {
  position: absolute;
  right: 12px;
  margin: 12px 12px 0 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  filter: invert(100%);

  &:hover {
    filter: invert(70%);
  }
}

.modalContent > h3 {
  margin: 12px 0 0 12px;
}

.modalContent > div {
  margin: 48px 0 0 12px;
}
