@font-face {
  font-family: 'Ubuntu';
  src: url('/src/assets/fonts/Ubuntu/Ubuntu-Medium.ttf');
}

html {
  scroll-snap-type: y mandatory;
  font-family: 'Ubuntu', monospace;
}

body {
  margin: 0;
  color: white;
  background-color: #1b1a18;
}

.flexContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
